<%- include('partials/header') %>
<main class="content-wrapper">
    <h1><%= title %></h1>
    <p>Browse opportunities by category:</p>
    
    <ul class="category-list">
        <% categories.forEach(category => { %>
            <li>
                <a href="/category/<%= category.category_id %>"><%= category.name %></a>
            </li>
        <% }); %>
    </ul>
</main>
<%- include('partials/footer') %>